# Telegram Bot Token (Obtenido de @BotFather)
TELEGRAM_TOKEN=tu_token_aqui

# Tu ID de Telegram (Obtenido de @userinfobot)
ADMIN_ID=123456789

# Rutas a aplicaciones (Asegúrate de usar r"ruta" o escapar las barras \)
DISCORD_PATH=C:\Users\TuUsuario\AppData\Local\Discord\Update.exe
STEAM_PATH=C:\Program Files (x86)\Steam\Steam.exe
STATS_CC_PATH=C:\Users\TuUsuario\AppData\Local\Programs\stats.cc\stats.cc.exe
